<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 class="center-text" class="fixed">Posts</h1>
<nav class="fixed">
    <a href="/posts/create/">Create Post</a>
</nav>

<ul>
    <% results.forEach(function(post,user) {%>
        <li class = center>
            <br>
            <p class="larger-text"><a href="/users/<%= post.postedBy.id %>/"><%= post.postedBy.name %></a><img class = "profile-picture" src = "<%= post.postedBy.profileImageUrl %>"></p>
            <br>
            <p><%= post.message %></p>
            <br>
            <img 
            src ="<%= post.imageUrl %>"
            width ="100"
            >
            <br>
            <p><%= post.createdAt %></p>
        </li>
    <% }); %>
</ul>

<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>

<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>