<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <img
    class = "cover-image"
    class= "relative"
    src = "<%= coverImageUrl %>"
    >
<img 
    class = "profile-image"
    src ="<%= profileImageUrl %>"
    >
<div class = "profile-details">
    <h2 class = "title"><%= name %></h1>
    <p class = "profile-username"><%= username %></p>
    <p class = "profile-email"><%= email %></p>
</div>

<p class= "profile-subtitle"><%= name %>'s Posts</p>
<ul class = "scrolling-posts">
    <% posts.forEach(function(post) {%>
        <li class="profile-posts">
            <img class = "post-image" src ="<%= post.imageUrl %>">
            <div class="post-text">
                <p class="post__username"><%= username %></p>
                <p class="post__timestamp"><%= post.createdAt %></p>
                <p class="post__message"><%= post.message %></p>
            </div>
        </li>
    <% }); %>
</ul>

</body>

<%- include('_footer') -%>
</html>